<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help Page</title>
</head>
<body style="padding: 2%">
    <h1>Help</h1>
    <h3>URLs:</h3>
    <ul>
        <li>Doctors: "/doctors/[doctor_id]" or "/doctors" to get everything</li>
        <li>Companions: "/companions/[companion_id]" or "/companions" to get everything</li>
        <li>Actors: "/actors/[actor_id]" or "/actors" to get everything</li>
        <li>Writers: "/writers/[writer_id]" or "/writers" to get everything</li>
        <li>Images: "/images/[image_id]"</li>
    </ul>
</body>
</html>